* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background : linear-gradient(90deg, #3d5ff7, #59ff3e)
}

.user-list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.user-list ul li {
  list-style: none;
}

.single-user {
  display: flex;
  align-items: center;
  min-width: 400px;
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}

.single-user img {
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
}

.user-info .user-mail {
  margin: 10px 0;
}

.user-detail-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}
.user-detail-header ul {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  min-width: 300px;
}

.user-detail-header ul li {
  list-style: none;
  color: black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-detail-header img {
  display: flex;
  margin-right: 20px;
  border-radius: 50%;
  width: 150px;
}

.user-detail-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color:black;
  font-size: 1rem;
}

.user-location-info {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  border-radius: 5px;
  padding: 5px;
}

.user-location-info h3{
  font-size: larger;
  color: wheat;
}

.user-location-info ul{
  background-color: azure
}

.user-location-info ul li{
  list-style: none;
  color: black;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
}

hr.new1 {
  border-top: 2px solid red;
  margin-bottom: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}


.header-button {
  padding: 5px 10px;
  background-color: #11db33;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.app-name {
  flex-grow: 1;
  text-align: center;
}